.cards {
  margin: 25px;
}

.dasbord {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.principal {
  background-color: #527a7a;
  font-family: "Open Sans";
}
